.swiper-pagination-bullet{
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(187, 186, 186);
}

.swiper-pagination-bullet-active{
    background-color: rgba(41, 39, 39, 0.904);
}

.swiper-pagination{
    padding:5px;
}



.swiper-wrapper {
    height:300px;
}

.swiper-slide{
    padding: 15px;
    border-top: 5px solid rgb(16, 243, 213);
    border-radius: 5px;
    background-color: aliceblue;

}

.swiper-container{
    display: flex;
    align-items: center;
}

@media screen and (min-width:1920px) {
    .swiper-wrapper{
        height: 400px;
    }
}