.swiper-pagination {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet{
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}



.swiper-wrapper {
    height:300px;
    margin-top: 40px;
}

.swiper-slide{
    padding: 15px;
    border: 5px solid rgb(233, 122, 122);
    border-bottom: transparent;
    border-radius: 5px;
    background-color: aliceblue;

}